.logo {
  width: 200px;
}
.navbar-nav {
  text-decoration: none;
  list-style: none;
}
.flex-row {
  list-style: none;
  font-size: larger;
}
.nav {
  list-style: none;
}
.nav-item {
  margin-left: 20px;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}
.signup {
  list-style: none;
  color: #eaeaea;
  letter-spacing: 2px;
  font-size: 30px;
}
