.logo {
  width: 300px;
  height: auto;
}
.logo:hover {
  opacity: 80%;
}

.navbar .container {
  margin-bottom: -40px;
  margin-top: -25px;
}

.navbar-nav {
  text-decoration: none;
  list-style: none;
}
.flex-row {
  list-style: none;
  font-size: larger;
}
.nav {
  list-style: none;
}
.nav-item {
  margin-left: 20px;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
}
.signup {
  list-style: none;
  color: #eaeaea;
  letter-spacing: 2px;
  font-size: 30px;
}
.navbutton {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.sss {
  margin-left: 10px;
}
.logout {
  list-style: none;
  color: white;
  letter-spacing: 2px;
  font-size: 30px;
}
