.btn-primary {
    margin-left: 15px;
}

h2 {
    color: #eb1877;
    font-weight: bold;
    padding-bottom: -25px;
}

p,
h3 {
    color: #ffffff;
}

.login,
.signUp {
    color: #eb1877;
}

h3 {
    margin-top: 25px;
    text-align: center;
}

.container {
    padding-bottom: 10px;
}

.image-detail {
    height: 300px;
    width: 300px;
}

.container {
    padding-bottom: 110px;
}