.btn-primary {
    margin-left: 15px;
}

h2 {
    color: #eb1877;
    font-weight: bold;
    padding-bottom: -25px;
}

p,
h3 {
    color: #ffffff;
}

.login,
.signUp {
    color: #eb1877;
}

h3 {
    margin-top: 50px;
    text-align: center;
}

.image-detail {
    height: 400px;
    width: 400px;
}

.container {
    margin: 0 auto;
}

button {
    border-radius: 5px;
    background: #bfd7ea;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

	.Carousel img {
        width:  auto;
        height: 460px ;
    }

    .cart-closed {
        top: 4.5%;
        right: 10%;
        font-size: 1.5rem;
        padding-left: .5rem;
        width: 40px;
        height: 40px;
    }

    .cart .close {
        font-size: .7rem;
    }

    .cart h2,
    .cartTotal {
        font-size: 1rem;
    }

    .cart input {
        width: 25px;
    }

    .signUp,
    .login {
        font-size: 15px;
    }

    navbutton {
        width: 25px;
        height: 25px;
    }

    .char-text > h2 {
        font-size: 1.9rem;
    }

    .charbutton {
        font-size: 1rem;
    }

    .cardcss {
        margin: .7rem;
        width: 10rem;
    }

    .cardcss img {
        margin: .5rem;
    }

    .addtocartbutton {
        margin: .5rem;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    
    .Carousel img {
        width:  auto;
        height: 360px ;
    }

    .card {
        width: 100%;
    }
}
