@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Poppins:ital,wght@0,500;1,200&family=Roboto:wght@100;300;400&display=swap");

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1.9px;
  background-image: url(../src/bgm.png);
  background-position: center;
}
