.hero-image {
  background-size: cover;
  width: 100%;
  background-position: center;
  /* margin-bottom: -150px;
  z-index: -1; */
  height: 100vh;
}
/* @media (max-width: 700px) {
  .hero-image {
    width: 50%;
  }
} */
