.footer {
  background: #343a40;
  color: white;
  /* padding: .5rem; */
  width: 100%;
	height: 75px;
	position: fixed;
  bottom: 0;
  left: 0px;
	display: flex;
  z-index: 1;
  align-items: center;
  padding-left: 150px;
}

.copyright {
  padding-left: 600px;
}


.footer a {
  text-decoration: none;
  color: var(--primary-white);
  font-weight: bold;
}
.footer a:hover {
  text-decoration: none;
  color: var(--primary-yellow);
  cursor: pointer;
}
.footer p {
  margin-bottom: 0;
}
.ftr a {
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.ftr a:hover {
  color: #eb1877;
}

