.footer {
  background: #343a40;
  color: white;
  padding: 3rem;

  bottom: 0;
  width: 100%;
}
.footer a {
  text-decoration: none;
  color: var(--primary-white);
  font-weight: bold;
}
.footer a:hover {
  text-decoration: none;
  color: var(--primary-yellow);
  cursor: pointer;
}
.footer p {
  margin-bottom: 0;
}
